<link type="text/css" rel="stylesheet" href="http://www.cedarhills.org/sites/default/files/css/css_791YXBaKKm1ORM_7huSKEsIV9tSWq6wmRkERhuXpN6w.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.cedarhills.org/sites/default/files/css/css_zx7-8INF0WfIYIZpGCTbm5YHx37pSWp8uNZ_QJHsB7g.css" media="all" />
<link type="text/css" rel="stylesheet" href="http://www.cedarhills.org/sites/default/files/css/css_gflZSldA1f6miRs7CEP1cQEeJImMleUnes2op1576wk.css" media="all" />

<div class="contextual-links-region">
				
								
									<h1 class="title" id="page-title">
						Contact Information					</h1>
					

<p>Note that this entire page was taken from <a href="http://www.cedarhills.org/contact-information">cedarhills.org</a></p>
								
				<div id="node-3" class="node node-page clearfix" about="/contact-information" typeof="foaf:Document">

  
      
  
  <div class="content">
  	
    <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even" property="content:encoded"><h3><a href="http://www.cedarhills.org/sites/default/files/images/DSC00127cropped.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: right;" src="http://www.cedarhills.org/sites/default/files/resize/images/DSC00127cropped-435x285.jpg" alt="Cedar Hills City Offices and Public Works Facility, 10246 N Canyon Road" height="285" width="435"></a>Contact:</h3>
<p>Phone: 801-785-9668<br>Fax: 801-796-3543<br>E-mail: <a href="mailto:frontdesk@cedarhills.org">frontdesk@cedarhills.org</a></p>
<h3>Address:</h3>
<p>City of Cedar Hills <br>10246 N. Canyon Road<br>Cedar Hills, UT 84062</p>
<p><a href="http://www.cedarhills.org/driving-directions#overlay-context=" target="_blank">Driving Directions to City Hall</a></p>
<h3>Office Hours:</h3>
<p>Mon-Thurs: 8 to 5&nbsp;<br>Friday: 8 to 4</p>
<p>View <a href="/calendar/month">Calendar</a> for office holidays.</p>
<p><strong><a href="/recreation/community-recreation-center" target="_self">Community Recreation Center <br>and Vista Room</a><br></strong>10640 N Clubhouse Drive<br>Cedar Hills, UT 84062<br>Phone: 801-785-9668, ext. 300<br>E-mail: <a href="mailto:events@cedarhills.org">events@cedarhills.org</a></p>
<h3>City Staff - phone: 801-785-9668</h3>
<table><tbody><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/David%20Bunker%20CM.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/David%20Bunker%20CM-29x40.jpg" alt="David Bunker, City Manager/City Engineer" height="40" width="29"></a>City Manager/City Engineer</strong><br>David Bunker</td>
<td>Ext. 101</td>
<td><a href="mailto:dbunker@cedarhills.org">dbunker@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Gretchen%20Gordon.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Gretchen%20Gordon-29x40.jpg" alt="Gretchen Gordon, Executive Assistant" height="40" width="29"></a>Executive Assistant</strong><br>Gretchen Gordon</td>
<td>Ext. 102</td>
<td><a href="mailto:gordon@cedarhills.org">gordon@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Mike%20Carson.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Mike%20Carson-29x40.jpg" alt="Mike Carson, Front Desk" height="40" width="29"></a>Front Desk</strong><br>Mike Carson</td>
<td>Ext. 100</td>
<td><a href="mailto:frontdesk@cedarhills.org">frontdesk@cedarhills.org</a></td>
</tr><tr class="even"><td>
<p><strong><a href="http://www.cedarhills.org/sites/default/files/staff/chandler-goodwin.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/chandler-goodwin-29x40.jpg" alt="Chandler Goodwin, Asst. City Manager/Planning &amp;amp; Zoning" height="40" width="29"></a>Assistant City Manager/Planning<br></strong>Chandler Goodwin<strong></strong></p>
</td>
<td>Ext. 501</td>
<td><a href="mailto:cgoodwin@cedarhills.org">cgoodwin@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/Colleen%20Mulvey.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/Colleen%20Mulvey-29x40.jpg" alt="Colleen Mulvey, City Recorder" height="40" width="29"></a> City Recorder</strong><br>Colleen Mulvey</td>
<td>Ext. 503</td>
<td><a href="mailto:cmulvey@cedarhills.org">cmulvey@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/images/Laurie%20Petersen.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/Laurie%20Petersen-29x40.jpg" alt="" height="40" width="29"></a>Emergency Mgt. Specialist/<br>Adminstrative Analyst<br></strong>Laurie Petersen<strong><br></strong></td>
<td>Ext. 104</td>
<td><a href="mailto:lpetersen@cedarhills.org">lpetersen@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/Charl%20Louw.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/Charl%20Louw-29x40.jpg" alt="Charl Louw, Finance Director" height="40" width="29"></a> Finance Director</strong><br>Charl Louw</td>
<td>Ext. 401</td>
<td><a href="mailto:clouw@cedarhills.org">clouw@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Dax%20Fossum.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Dax%20Fossum-29x40.jpg" alt="Dax Fossum, Finance Analyst (Payables)" height="40" width="29"></a>Finance Analyst</strong> (Payables)<br>Dax Fossum</td>
<td>Ext. 402</td>
<td><a href="mailto:accountspayable@cedarhills.org">accountspayable@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Lauren%20Jasper.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Lauren%20Jasper-29x40.jpg" alt="Lauren Jasper, Accounting Associate (Utility Billing)" height="40" width="29"></a>Accounting Associate</strong> <br>(Utility Accounts)<br>Lauren Jasper</td>
<td>Ext. 400</td>
<td><a href="mailto:utilitybilling@cedarhills.org">utilitybilling@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/jeff-maag.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/jeff-maag-27x40.jpg" alt="Jeff Maag, Public Works Director/Building Official" height="40" width="27"></a>Public Works Director/Building Official</strong><br>Jeff Maag</td>
<td>Ext. 201</td>
<td><a href="mailto:jmaag@cedarhills.org">jmaag@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Dee%20Howard.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Dee%20Howard-29x40.jpg" alt="Dee Howard, Public Works Operations Manager" height="40" width="29"></a>Public Works Operations Manager</strong><br>Dee Howard</td>
<td>Ext. 202</td>
<td><a href="mailto:dhoward@cedarhills.org">dhoward@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/brenda-shuman.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/brenda-shuman-29x40.jpg" alt="Brenda Shuman, Public Works/Building Dept. Assistant" height="40" width="29"></a>Public Works/Building Dept. Assistant</strong><br>Brenda Shuman</td>
<td>Ext. 200</td>
<td><a href="mailto:bshuman@cedarhills.org">bshuman@cedarhills.org</a></td>
</tr><tr><td><strong>Public Works After-Hours Emergency (water, sewer, roads)</strong></td>
<td>801-420-2243</td>
<td>&nbsp;</td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Katherine%20Murdoch.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Katherine%20Murdoch-29x40.jpg" alt="Katherine Murdoch, Business Licensing" height="40" width="29"></a>Business Licensing</strong><br>Katherine Murdoch</td>
<td>Ext. 504</td>
<td><a href="mailto:kmurdoch@cedarhills.org">kmurdoch@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Jenny%20Peay%20cropped.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Jenny%20Peay%20cropped-32x40.jpg" alt="Jenny Peay, Code Enforcement Officer" height="40" width="32"></a>Zoning/Code Enforcement Officer</strong> <br>Jenny Peay</td>
<td>Ext. 500</td>
<td><a href="mailto:jpeay@cedarhills.org">jpeay@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Greg%20Gordon.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Greg%20Gordon-29x40.jpg" alt="Greg Gordon, Recreation Director" height="40" width="29"></a>Recreation Director</strong><br>Greg Gordon</td>
<td>Ext. 601</td>
<td><a href="mailto:ggordon@cedarhills.org">ggordon@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Nicole%20Allen.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Nicole%20Allen-29x40.jpg" alt="Nicole Allen, YCC &amp;amp; Sports Coordinator" height="40" width="29"></a>Recreation &amp; YCC Coordinator<br></strong>Nicole Allen<strong></strong></td>
<td>Ext. 302</td>
<td><a href="mailto:nallen@cedarhills.org">nallen@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Laurie%20Anderson.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Laurie%20Anderson-29x40.jpg" alt="Laurie Anderson, Sports Coordinator" height="40" width="29"></a>Recreation Coordinator</strong><br>Laurie Anderson</td>
<td>Ext. 302</td>
<td><a href="mailto:landerson@cedarhills.org">landerson@cedarhills.org</a></td>
</tr><tr><td>
<p><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Natalie%20Scott%20cropped.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Natalie%20Scott%20cropped-33x40.jpg" alt="Natalie Scott, Events Manager" height="40" width="33"></a>Vista Room Events Manager<br></strong>Natalie Scott<strong></strong></p>
</td>
<td>Ext. 300</td>
<td><a href="mailto:events@cedarhills.org">events@cedarhills.org</a></td>
</tr><tr class="even"><td><strong><a href="http://www.cedarhills.org/sites/default/files/images/Becky%20Galloway%20cropped.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/Becky%20Galloway%20cropped-32x40.jpg" alt="" height="40" width="32"></a>Vista Room Events Asst. Coordinator<br></strong>Becky Galloway<strong></strong></td>
<td>Ext. 300</td>
<td><a href="mailto:events@cedarhills.org">events@cedarhills.org</a></td>
</tr><tr><td><strong><a href="http://www.cedarhills.org/sites/default/files/staff/Wade%20Doyle.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/staff/Wade%20Doyle-29x40.jpg" alt="Wade Doyle, Golf Operations Manager" height="40" width="29"></a>Golf Operations Manager</strong> <br>Pro Shop<br>Wade Doyle</td>
<td>801-796-1705</td>
<td><a href="mailto:wdoyle@cedarhills.org">wdoyle@cedarhills.org</a></td>
</tr></tbody></table><h3>City Government</h3>
<table><tbody><tr><td><a href="http://www.cedarhills.org/sites/default/files/images/gygi.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/gygi-32x40.jpg" alt="Gary Gygi, Mayor" height="40" width="32"></a>Mayor Gary Gygi</td>
<td>801-787-0342</td>
<td><a href="mailto:ggygi@cedarhills.org" target="_blank">ggygi@cedarhills.org</a></td>
</tr><tr class="even"><td><a href="http://www.cedarhills.org/sites/default/files/images/jenney-rees.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/jenney-rees-32x40.jpg" alt="Jenney Rees, City Council" height="40" width="32"></a>Council Member Jenney Rees</td>
<td>801-358-8730</td>
<td><a href="mailto:jrees@cedarhills.org" target="_blank">jrees@cedarhills.org</a></td>
</tr><tr><td><a href="http://www.cedarhills.org/sites/default/files/images/augustus.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/augustus-32x40.jpg" alt="Trent Augustus, City Council" height="40" width="32"></a>Council Member Trent Augustus</td>
<td>801-885-5933</td>
<td><a href="mailto:taugustus@cedarhills.org" target="_blank">taugustus@cedarhills.org</a></td>
</tr><tr class="even"><td><a href="http://www.cedarhills.org/sites/default/files/images/zappala.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/zappala-27x40.jpg" alt="Daniel Zappala, City Council" height="40" width="27"></a>Council Member Daniel Zappala</td>
<td>801-362-3704</td>
<td><a href="mailto:dzappala@cedarhills.org">dzappala@cedarhills.org</a></td>
</tr><tr><td><a href="http://www.cedarhills.org/sites/default/files/images/crawley.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/crawley-32x40.jpg" alt="Rob Crawley, City Council" height="40" width="32"></a>Council Member Rob Crawley</td>
<td>&nbsp;801-735-7772</td>
<td><a href="mailto:rcrawley@cedarhills.org">rcrawley@cedarhills.org</a></td>
</tr><tr class="even"><td><a href="http://www.cedarhills.org/sites/default/files/images/geddes.jpg" class="colorbox init-colorbox-processed cboxElement" rel="colorbox"><img style="float: left;" src="http://www.cedarhills.org/sites/default/files/resize/images/geddes-32x40.jpg" alt="Mike Geddes, City Council" height="40" width="32"></a>Council Member Mike Geddes</td>
<td>&nbsp;801-787-8238</td>
<td><a href="mailto:mgeddes@cedarhills.org">mgeddes@cedarhills.org</a></td>
</tr></tbody></table><h3>Utah State Government Representatives</h3>
<table><tbody><tr><td>House: <a href="http://le.utah.gov/house2/detail.jsp?i=KENNEMS" target="_blank">Michael S. Kennedy</a></td>
<td>801-358-2362</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Senate: <a href="http://johnvalentine.com/" target="_blank">John L. Valentine</a></td>
<td>801-224-1693</td>
<td>&nbsp;</td>
</tr><tr><td>Congress: <a href="http://chaffetz.house.gov/" target="_blank">Jason Chaffetz</a></td>
<td>202-225-7751</td>
<td>&nbsp;</td>
</tr></tbody></table><h3>City Safety Services</h3>
<table><tbody><tr><td>EMERGENCY (fire, medical, police)</td>
<td>911</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Non-Emergency Dispatch (24-hour service)</td>
<td>801-851-4100</td>
<td>&nbsp;</td>
</tr><tr><td>Police (American Fork)</td>
<td>801-763-3020</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Animal Control (American Fork)</td>
<td>801-763-3020</td>
<td>&nbsp;</td>
</tr><tr><td>Lone Peak Public Saftey District - Fire Dept. (Highland)</td>
<td>801-763-5365</td>
<td>&nbsp;</td>
</tr></tbody></table><h3>Public Schools</h3>
<table><tbody><tr><td>Cedar Ridge Elementary</td>
<td>801-785-8726</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Deerfield Elementary</td>
<td>801-796-3141</td>
<td>&nbsp;</td>
</tr><tr><td>Mountain Ridge Jr. High</td>
<td>801-763-7010</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Lone Peak High School</td>
<td>801-763-7050</td>
<td>&nbsp;</td>
</tr><tr><td>American Fork High School</td>
<td>801-756-8547</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Alpine School District</td>
<td>801-756-8400</td>
<td>&nbsp;</td>
</tr></tbody></table><h3>Other Community Services/Utilities</h3>
<table><tbody><tr><td>Post Office (Pleasant Grove)</td>
<td>801-785-5589</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Rocky Mountain Power (electricity)</td>
<td>1-888-221-7070</td>
<td>&nbsp;</td>
</tr><tr><td>QWest (telephone)</td>
<td>1-800-244-1111</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Questar Gas</td>
<td>1-800-323-5517</td>
<td>&nbsp;</td>
</tr><tr><td>Cable Television &amp; High Speed Internet (Comcast)</td>
<td>801-234-6500</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Waste Management (call City Office)</td>
<td>801-785-9668, ext. 0</td>
<td>&nbsp;</td>
</tr><tr><td>North Pointe SWSSD - Landfill (Lindon)</td>
<td>801-225-8538</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Timpanogos Special Service District <br>(sewer treatment)</td>
<td>801-756-5231</td>
<td>&nbsp;</td>
</tr><tr><td>Animal Shelter (Lindon)</td>
<td>801-785-3442</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Deer Removal (call City Office)</td>
<td>801-785-9668, ext. 200</td>
<td>&nbsp;</td>
</tr><tr><td>Division of Wildlife Resources (DWR)</td>
<td>801-491-5678</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Motor Vehicle Title &amp; Registration</td>
<td>1-800-368-8824</td>
<td>&nbsp;</td>
</tr><tr><td>Driver License Office (Orem)</td>
<td>801-965-4437</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Passports (Utah County)</td>
<td>801-851-8226</td>
<td>&nbsp;</td>
</tr><tr><td>Social Security Administration</td>
<td>801-377-5651</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>UDOT Region 3 Orem Office</td>
<td>801-227-8000</td>
<td>&nbsp;</td>
</tr><tr><td>United Way Referral Service</td>
<td>Dial 211</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Utah County Elections Office</td>
<td>801-851-8128</td>
<td>&nbsp;</td>
</tr><tr><td><a href="http://www.utahcountyonline.org/Dept2/Health/Index.asp" target="_blank">Utah County Health Dept.</a> (American Fork)</td>
<td><span class="style2">801-851-7333</span></td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Utah County Treasurer (property taxes)</td>
<td>801-851-8244</td>
<td>&nbsp;</td>
</tr><tr><td>US Forest Service (Ranger Station)</td>
<td>801-785-3563</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>Poison Control</td>
<td>1-800-222-1222</td>
<td>&nbsp;</td>
</tr><tr><td>Blue Stakes (Call before you dig!)</td>
<td>dial 811</td>
<td>&nbsp;</td>
</tr><tr class="even"><td>USU Extension Services <br>(report bee swarms)</td>
<td>801-851-8463</td>
<td>&nbsp;</td>
</tr></tbody></table></div></div></div>  </div>

  
  
</div>		
			</div>