<link rel="stylesheet" type="text/css" href="app/css/requests.detail.css">

<button type="submit" ui-sref="requests.list" class="btn btn-primary">Back to recent requests</button>

<form name="request-form"  class="form-horizontal">
  <div class="form-group">
    <label for="inputServiceCode" class="control-label col-xs-2">Request Type</label>
    <div class="col-xs-2">
      <input class="form-control" id="inputServiceCode" disabled ng-model="service_name"> 
    </div>
    <label for="inputAddress" class="control-label col-xs-1">Address</label>
    <div class="col-xs-5">
      <input class="form-control" id="inputAddress" placeholder="Address" ng-model="request.address">
    </div>
  </div>
  <div class="form-group">
    <label for="inputDescription" class="control-label col-xs-2">Description</label>
    <div class="col-xs-8">
      <input class="form-control" id="inputDescription" placeholder="Description" ng-model="request.description">
    </div>
  </div>
  <div class="form-group">
    <label for="inputLat" class="control-label col-xs-2">Latitude</label>
    <div class="col-xs-2">
      <input class="form-control" id="inputLat" placeholder="Latitude" ng-model="request.lat">
    </div>
    <label for="inputLong" class="control-label col-xs-1">Longitude</label>
    <div class="col-xs-2">
      <input class="form-control" id="inputLong" placeholder="Longitude" ng-model="request.long">
    </div>
  </div>
  <div class="form-group">
    <label for="inputImage" class="control-label col-xs-2">Upload Image</label>
    <div class="col-xs-2">
      <input type="file" id="inputImage">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSubmittedBy" class="control-label col-xs-2">Submitted By</label>
    <div class="col-xs-2">
      <input type="email" class="form-control" id="inputSubmittedBy" placeholder="Email" ng-model="request.email">
    </div>
    <div ng-show="request-form.uEmail.$dirty && request-form.uEmail.$invalid">Invalid:
      <span ng-show="request-form.uEmail.$error.required">Tell us your email.</span>
      <span ng-show="request-form.uEmail.$error.email">This is not a valid email.</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-offset-2 col-xs-2">
      <button ng-click="reset()" ng-disabled="isUnchanged(request)"  type="submit" class="btn btn-danger" >Reset</button>
      <button ng-click="update(request)" ng-disabled="request-form.$invalid || isUnchanged(request)" type="submit" class="btn btn-primary" >Save</button>
    </div>
  </div>
</form>
